@media (min-width: 1128px)
{
.page-container-responsive {
    width: 1080px;
}
}
@media (min-width: 744px)
{
.page-container-responsive {
    width: 696px;
}
}
.page-container-responsive {
    width: auto;
}

.page-container {
    width: 1080px;
}
@media (min-width: 744px)
{
.page-container, .page-container-responsive {
    padding-left: 24px;
    padding-right: 24px;
}
}
.page-container, .page-container-responsive {
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

.page-container:before, .page-container-responsive:before, .page-container:after, .page-container-responsive:after {
    content: " ";
    display: table;
}
:root .row.row-table {
    width: 100% \9;
}

.row.row-table {
    width: 100%;
    width: -webkit-calc(100% + 24px);
    width: -moz-calc(100% + 24px);
    width: calc(100% + 24px);
}

.space-top-8 {
    margin-top: 48px;
}

.space-8 {
    margin-bottom: 48px;
}

.row-table {
    display: table;
    table-layout: fixed;
}

.row:before, .row:after {
    content: " ";
    display: table;
}

._404-h6{
    font-family: "Gotham-Light";
    font-size: 20px;
    color: #434A54;
}
.text-jumbo {
    font-size: 80px;
    font-weight: 700;
}
._404-h1{
        color: #2d4349;
    line-height: 1.1;
    margin-left: -2px;
    font-size: 24px;
    font-family: "Gotham-Bold";
    font-weight: 100;
    margin-top: 10px;
    margin-bottom: 10px;
}
.list-unstyled, .list-layout, .subnav-list, .sidenav-list {
    padding-left: 0;
    list-style: none;
    margin: 0px 0px 15px;
    color: rgb(79, 89, 98);
    font-size: 16px;
    line-height: 1.8rem;
    font-family: "Gotham-Light";
    font-weight: 100;
}

